
body{
	text-align: center;
	background: #EEEEEE;
	/*background: #e5e5e5;*/
	font-family:"verdana";
	font-weight:bold;
	/*color: #0B2F88;*/
	margin: 0px;
	padding: 0px;
}

h1{
	font-family:"verdana";
	font-size:20px;
}


li{
	text-align: left;
}

#notes{
	width:500px;
	margin: auto;
}

form{
	width:500px;
	display: inline-block;
	margin-top: 100px;
}

select{
	width: 156px;
	font-weight:bold;
}

.input{
	/*color: #2C56BD;*/
	font-weight:bold;
	margin-left: 0px;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.circle{
    -webkit-flex: none;
          flex: none;
    height: 30px !important;
    width: 30px !important;
    margin: auto;
}

i.icon-plus3 {
    -webkit-flex: none;
          flex: none;
    height: 20px !important;
    width: 20px !important;
    line-height: 20px !important;
    font-size: 20px !important;
    margin:auto; 
}

i.icon-minus3 {
    -webkit-flex: none;
          flex: none;
    height: 20px !important;
    width: 20px !important;
    line-height: 20px !important;
    font-size: 20px !important;
    margin:auto; 
}

.input.fc{
	-webkit-flex: 2;
          flex: 2;
}

.input.ign{
	-webkit-flex: 2;
          flex: 2;
}

.input.dropdown{
	-webkit-flex: 1;
          flex: 1;
}


label { 
    display: inline-block; 
    -webkit-flex: initial;
    flex: initial;
    width: 200px;
    min-width: 100px;
    text-align: left;
	font-size: 14px;
    margin: auto;
}


.button.slide {
	margin-left: auto;
	margin-right: auto;
}

.button.slide.right{
    position:absolute;
    bottom:10px;
    right:10px;
    
}

.button.slide.left{
    position:absolute;
    bottom:10px;
    left:10px;
}


a:link {
	color:#F8ECF0;
}     /* unvisited link */

a:visited {
	color:#F8ECF0;
}  /* visited link */

a:hover {
	color:#4A9DA5;
}  /* mouse over link */

a:active {
	color:#4A9DA5;
}  /* selected link */

.block {
	width: 100%;
	height: 30px;
	border:1px solid #1E88E5;
	background-color: #1E88E5;
}

.bottom.block {
	bottom: 0px;
	position: fixed;
	text-align: right;
	color: white;
	font-size: 10px;
	margin-right: 10px;
}



.button:hover {
    background: #1E88E5 !important;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto;
}

.formsize {
    width: 40%;
    min-width: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
    position:relative
}

.ignsize{
    width: 40%;
    min-width: 500px;
}

.fcsize{
    width: 40%;
    min-width: 500px;
}

.spacer {
    -webkit-flex: none;
          flex: none;
    height: 30px !important;
    width: 30px !important;
    margin: auto;
}