
<<<<<<< HEAD
body{
	text-align: center;
	/*background: #e5e5e5;*/
	font-family:"verdana";
	font-weight:bold;
=======
/*Colours:
	Red: #FF0000
		#CB0000
		#9E0000
		#FF2525
		#FF5454
		#FF9696
	Blue: #0F3CAE
		#0B2F88
		#07236A
		#2C56BD
		#4F71C5
		#8298CE
*/
body{
	text-align: center;
	background: #F8ECF0;
	/*background: #e5e5e5;*/
	font-family:"verdana";
	font-weight:bold;
	color: #0B2F88;
>>>>>>> origin/master
	margin: 0px;
	padding: 0px;
}

<<<<<<< HEAD
=======
h1{
	font-family:"verdana";
	font-size:20px;
}

>>>>>>> origin/master
li{
	text-align: left;
}

#notes{
	width:600px;
	margin-left: auto ;
	margin-right: auto ;
}

form{
	width:500px;
	display: inline-block;
	margin-top: 100px;
}

select{
	width: 156px;
	font-weight:bold;
}

.input{
<<<<<<< HEAD
=======
	color: #2C56BD;
>>>>>>> origin/master
	font-weight:bold;
	margin-left: 0px;
}

.input.fc{
	width: 156px;
}

.input.ign{
	width: 100px;
}

.input.dropdown{
<<<<<<< HEAD
	width: 50px;!important
=======
	width: 50px;
>>>>>>> origin/master
}


label { 
    display: inline-block; 
    width: 250px; 
    text-align: left;
	font-size: 14px;	
}

<<<<<<< HEAD
=======
.button{
	background: #2C56BD;  /*#3b3b3b;*/
	color: white;
	padding: 3px 0;
	text-align: center;
	width: 450px;
	cursor: pointer;
	font-size: 14px;
}
>>>>>>> origin/master

.button.slide{
	margin-left: auto ;
	margin-right: auto ;
}

a:link {
	color:#F8ECF0;
}     /* unvisited link */

a:visited {
	color:#F8ECF0;
}  /* visited link */

a:hover {
	color:#4A9DA5;
}  /* mouse over link */

a:active {
	color:#4A9DA5;
}  /* selected link */

.block {
	width: 100%;
	height: 30px;
	border:1px solid #0F3CAE;
	background-color: #0F3CAE;
}

.bottom.block {
	bottom: 0px;
	position: fixed;
	text-align: right;
	color: white;
	font-size: 10px;
	margin-right: 10px;
}

#flairpreview {
	background: no-repeat url('http://b.thumbs.redditmedia.com/Uq3ZDuxxpFRZ5jdtJiGXeTZbDBPKtJlFVtxB3kb18mU.png');
	background-position: -0px -0px;
	content: "";
	display: none;
	margin-left: -29px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

